.textarea{
  border: 2px solid #95A5A6;
  padding: 20px;
  margin: 130px 10px 10px 10px;
  min-height: 300px;
}

.blockquote{
  background-color: #f6f6f6;
  border-left: 5px solid #1aa6bf;
  padding: 10px;
}
