@import './__variables.scss';

.alert{
  margin: 10px 20px;
  padding: 10px;

  &-error{
    background-color: $errorColour;
    &>.alert--inner{
      border: 2px dashed lighten($errorColour, 20%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: darken($errorColour, 40%);
    }
  }

  &-success{
    background-color: $succesColour;
    &>.alert--inner{
      border: 2px dashed lighten($succesColour, 20%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: darken($succesColour, 40%);
    }
  }
}
