@import './__variables.scss';
@import './assets/__loadingImage.scss';

.avatar-container {
    background-color: $c-clouds;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
