@import '__variables';

.menu{
  background-color: $mainMenuColour;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  &-nav{
    width: 100%;
  }
  &-logo{
    background-color: darken($mainMenuColour, 3%);
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    &>img{
      margin: 4px 12px;
    }
  }
}

.menu-item{
  box-sizing: border-box;
  width: 100%;
  transition: 0.3s ease-in all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  &.current{
    color: $activeMenuColour;
    border-right: 5px solid $activeMenuColour;
  }
  &:hover{
    background-color: darken($mainMenuColour, 10%);
    border-right: 2px solid lighten($activeMenuColour, 10%);

  }

  &>i{
    font-size: 1.35em;

  }
  &>p{
    font-size: 0.6em;
  }
}

.button-logout{
  width: 100%;
  //height: 40px;
  padding: 20px 10px;
  background-color: $googlePlusColour;
  border: 0px;
  border-top: 1px solid darken($googlePlusColour, 15%);
  transition: 0.3s ease all;
  cursor: pointer;
  font-weight: bold;
  color: darken($googlePlusColour, 35%);
  &:hover{
    background-color: darken($googlePlusColour, 15%);
    border-top: 1px solid darken($googlePlusColour, 25%);
    color: darken($googlePlusColour, 45%);

  }
}
