@import './__variables.scss';

.update-pwd{
  margin-top: 100px;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  &>div{
    align-items: flex-end;
  }
}

.btn-pwd{
  width: 120px;
  background-color: $c-clouds;
  border: none;
  cursor: pointer;
  height: 52px;
  transition: 0.25s ease-in all;
  &:hover{
    background-color: darken($c-clouds, 10%);
  }
  &--update{
    width: 427px;
    margin-top: 20px;
    background-color: $c-emerald;
    &:hover{
      background-color: darken($c-emerald, 10%);
    }
  }
}

.invalid>input{
  border: 1px solid red;
}

.required-warning{
  font-size: 0.7em;
  color: $c-asbestos;
  align-self: center;
}
