//Colour's
$mainColour: #3498db;
$secondaryColour: #808080;
$darkColour: #414141;
$refHoverColour: #5856f6;
$lightColour: #ecf0f1;
$grayInputColour: #E8E8E8;
$grayBorderColour: #808080;

//Social colour
$twitterColour: #55acee;
$facebookColour: #3b5998;
$linkedinColour: #007bb5;
$githubColour: #000000;
$rssColour: #ff6600;
$googlePlusColour: #dd4b39;
$youtubeColour: #bb0000;
$instagramColour: #966842;

//Menu
$mainMenuColour: #222D32;
$activeMenuColour: #9F4D91;


//Shadows
$simpleShadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


//Sizes
$menu-size: 80px;
