//Colour's
$mainColour: #3498db;
$secondaryColour: #808080;
$darkColour: #414141;
$refHoverColour: #5856f6;
$lightColour: #ecf0f1;

//Social colour
$twitterColour: #55acee;
$facebookColour: #3b5998;
$linkedinColour: #007bb5;
$githubColour: #000000;
$rssColour: #ff6600;
$googlePlusColour: #dd4b39;
$youtubeColour: #bb0000;

//Menu
$mainMenuColour: #222D32;
$activeMenuColour: #9F4D91;
